@model BALibrary.Examination.ExamGroupDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Examination/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ExamGroupDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExamGroupId" class="control-label"></label>
                <select asp-for="ExamGroupId" class ="form-control" asp-items="ViewBag.ExamGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExamId" class="control-label"></label>
                <select asp-for="ExamId" class ="form-control" asp-items="ViewBag.ExamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PassingMark" class="control-label"></label>
                <input asp-for="PassingMark" class="form-control" />
                <span asp-validation-for="PassingMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

