@model BALibrary.Registrar.MarkSheet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Registrar/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>MarkSheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentPromotionId" class="control-label"></label>
                <select asp-for="StudentPromotionId" class="form-control" asp-items="ViewBag.StudentPromotionId"></select>
                <span asp-validation-for="StudentPromotionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Average" class="control-label"></label>
                <input asp-for="Average" class="form-control" />
                <span asp-validation-for="Average" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredBy" class="control-label"></label>
                <input asp-for="RegisteredBy" class="form-control" />
                <span asp-validation-for="RegisteredBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredAt" class="control-label"></label>
                <input asp-for="RegisteredAt" class="form-control" />
                <span asp-validation-for="RegisteredAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedAt" class="control-label"></label>
                <input asp-for="ModifiedAt" class="form-control" />
                <span asp-validation-for="ModifiedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedBy" class="control-label"></label>
                <input asp-for="ApprovedBy" class="form-control" />
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedAt" class="control-label"></label>
                <input asp-for="ApprovedAt" class="form-control" />
                <span asp-validation-for="ApprovedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

