@model BALibrary.Academic.Session

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Academic/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select asp-for="Year" class="form-control" asp-items="ViewBag.Year"></select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolType" class="control-label"></label>
                <select asp-for="SchoolType" class="form-control" asp-items="ViewBag.SchoolType"></select>
                <span asp-validation-for="SchoolType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradingRuleGroupId" class="control-label"></label>
                <select asp-for="GradingRuleGroupId" class="form-control" asp-items="ViewBag.GradingRuleGroupId"></select>
                <span asp-validation-for="GradingRuleGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinStudent" class="control-label"></label>
                <input asp-for="MinStudent" class="form-control" />
                <span asp-validation-for="MinStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxStudent" class="control-label"></label>
                <input asp-for="MaxStudent" class="form-control" />
                <span asp-validation-for="MaxStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningDate" class="control-label"></label>
                <input asp-for="OpeningDate" class="form-control" />
                <span asp-validation-for="OpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingDate" class="control-label"></label>
                <input asp-for="ClosingDate" class="form-control" />
                <span asp-validation-for="ClosingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>